body, html {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 110px;
    background: url("../images/background.png") center repeat-y;
    background-position: center;
    height: 100%;
    background-size: cover;
    display: grid;
}

/* Navbar start */
.navbar {
    background-color: #F1A8A8;
    box-shadow: 0 0 4px 0 grey;
}

.navbar-light .navbar-nav .nav-link {
    color: #263DA7;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #263DA7;
    color: #F1A8A8;
    border-radius: 10px;
}

.navbar-toggler:focus {
    outline-color: #263DA7;
}

.fa-home {
    color: #263DA7;
    margin: 4px;
    font-size: 25px;
    padding: 10px;
}

.fa-home:hover {
    color: #F1A8A8;
    background-color: #263DA7;
    border-radius: 10px;
}
/* Navbar end */

/* Landing page content start */
.landing-div {
    display: table;
    text-align: center;
    border-radius: 40px;
    padding: 20px;
    margin: 100px auto;
    width: 40vw;
    height: 40vh;
    background: white;
    box-shadow: 0 0 4px;
    opacity: 0.80;
    line-height: normal;
}

.landing-content {
    display: table-cell;
    vertical-align: middle;
}
/* Landing page content end */

/* Authentication layout start */
.auth-layout {
    width: 30%;
    background: white;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: grid;
    box-shadow: 0 0 4px;
    border-radius: 10px;
    padding: 30px;
}

@media (max-width: 575.98px) {
    .auth-layout {
        max-width: 100%;
        width: 90%;
    }
}

@media (max-width: 767.98px) {
    .auth-layout {
        max-width: 100%;
        width: 70%;
    }
}

.auth-layout form, .auth-layout input {
    margin: 15px 0;
    padding: 5px;
    font-size: 3vh;
}

.auth-layout input {
    width: 100%;
    display: inline-block;
}

.auth-layout h2, .auth-layout div, #message {
    text-align: center;
}

.auth-layout button {
    background-color: #263DA7;
    color: #F1A8A8;
    border-radius: 10px;
    border: solid #263DA7;
    padding: 10px 20px;
}

.auth-layout button:hover {
    color: #263DA7;
    background-color: #F1A8A8;
    border-radius: 10px;
    border: solid #F1A8A8;
    padding: 10px 20px;
}
/* Authentication layout end */

/* Admin page content start */
.admin-content {
  height: 80%;
  width: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: white;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: grid;
  box-shadow: 0 0 4px;
  border-radius: 10px;
  padding: 30px;
  font-size: 1.8vh;
}

@media (max-width: 576px) {
    .admin-content {
        max-width: 100%;
        width: 90%;
        height: 80%;
        min-height: 50%;
        font-size: 1vh;
    }
}

@media (max-width: 767.98px) {
    .admin-content {
        max-width: 100%;
        width: 90%;
        height: 80%;
        min-height: 50%;
        font-size: 1.6vh;
    }
}
/* Admin page content end */
